.contact-modal{
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display:flex;
    justify-content: center;
    align-items: center;
    &__form-container{
        width: clamp(300px, 75%, 650px);
        min-height: 250px;
        background-color: white;
        margin: 0 auto;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    }
    &--open{
        display: flex;
        background-color: rgba(0,0,0,0.25);
    }
    &--closed{
        display: none;
    }
}