.header-content-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    gap:15px;
    grid-template-areas: "logo" "personal-info" "links";
    #personal-info{
        grid-area: personal-info;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        .favorite-tools{
            margin-top:20px;
            .tool-logos-container{
                display:flex;
                  align-items:flex-start;
            }
        }
    }
    #logo{
        grid-area: logo;
        max-width: 250px;
        svg{
            width: 100%;
        }
    }
    #nav-links{
        grid-area: links;
        .mail-icon{
            display: inline-block;
        }
    }
    @screen md{
        grid-template-areas: "personal-info logo links";
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}