.floating-social-container{
    display:flex;
    justify-content: space-between;
    .social-logo-container{
        width: 35px;
        height: 35px;
        display:flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-color: #ececec;
        border-radius: 6px;
        margin-top: 10px;
        &:not(:last-child){
            margin-right: 5px;
        }
        svg{
            width: 20px;
            height: 20px;
        }
    }
    &.social-buttons-footer{
        .social-logo-container{
            background-color: transparent;
            margin: 0;
            width: 50px;height: 50px;
            svg{
                width: 30px;
                height: 30px;
            }
        }
        justify-content: flex-end;
    }
}